.prefooter {
  height: auto; 
  overflow: visible;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}


.pre-footer-item {
  flex: 1;
  margin: 10px;
}

.pre-footer-item img {
  width: 50px;
  margin-bottom: 10px;
}

.faixas-brasil {
  display: flex;
  height: 8px; /* ajuste a espessura */
}

.faixa.verde {
  background: green;
  flex: 1;
}

.faixa.amarela {
  background: yellow;
  flex: 1;
}
