.product-page.container {
    display: flex;
    gap: 40px;
    padding: 20px;
    align-items: flex-start;
  }
  
  .product-image-section {
    flex: 1;
  }
  
  .product-main-img {
    width: 100%;
    max-width: 500px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .product-details-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .product-details-section h1 {
    font-size: 2rem;
  }
  
  .product-price {
    display: flex;
    align-items: baseline;
    gap: 10px;
  }
  
  .old-price {
    text-decoration: line-through;
    color: #e60000;
    font-size: 1.2rem;
  }
  
  .new-price {
    color: #023d02;
    font-size: 1.6rem;
    font-weight: bold;
  }
  
  .buy-btn {
    padding: 15px 25px;
    background-color: #008000;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .product-description, .product-shipping {
    margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    .product-page.container {
      flex-direction: column;
    }
  
    .product-main-img {
      max-width: 100%;
    }
  
    .buy-btn {
      width: 100%;
    }
  }
  
  .reviews-section {
    margin-top: 40px;
    padding: 20px;
    border-top: 1px solid #eee;
  }
  
  .reviews-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .average-rating {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .review {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .review p {
    margin: 5px 0;
  }
  
  .review span {
    color: #ffb400; /* cor das estrelas */
  }
  
  .see-more {
    display: block;
    margin: 20px auto 0;
    padding: 10px 15px;
    background: #111;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .product-details-section select {
    width: 150px;        /* 🔹 define o comprimento */
    padding: 8px;        /* 🔹 espaço interno */
    border-radius: 6px;  /* 🔹 cantos arredondados */
    border: 1px solid #ccc;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
  }
  