/* Topbar */
.topbar {
  background: #facc15; /* amarelo Brasil */
  text-align: center;
  padding: 2px 0;
  font-size: 14px;
  font-weight: bold;
}

/* Header */
.header {
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Hero Section */
.hero {
  margin-top: 0;
  top: 0;
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}

.hero-content h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero-btn {
  background: #20037e; /* Azul escuro */
  margin-top: 250px;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-btn:hover {
  background: #016c08;
}

/* Product grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* força botão ficar alinhado */
  align-items: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
}

.product-card img {
  width: 80%;        /* ocupa toda a largura do card */
  max-height: 350px;  /* altura máxima */
  object-fit: cover;  /* corta e adapta proporcionalmente */
  border-radius: 8px; /* opcional: cantos arredondados */
}


.product-card h3,
.product-card p {
  margin: 10px 0;
  text-align: center;
}

.product-card button {
  margin-top: auto; /* empurra o botão pro final do card */
  background: green;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.product-card button:hover {
  background: darkgreen;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}

.footer-col {
  flex: 1;
  padding: 0 15px;
  width: 200px;   /* aumenta a largura */
  max-width: 100%; /* garante que não quebre em telas menores */
  height: auto; 
}

.footer-col h4 {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.footer-payments {
  max-width: 180px;
  height: auto;
  display: block;
  margin-top: 5px;
}

.footer-col p {
  margin: 6px 0;
  font-size: 18px;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 0px; /* espaço entre logo e texto */
}

.logo-img {
  height: 120px; /* ajuste o tamanho da logo */
  width: auto;
}

body {
  margin: 0;
  padding: 0;
}

.categories-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  background-color: #f5f0f0; /* cor clara para destacar */
  border-bottom: 1px solid #ddd;
  overflow-x: auto; /* permite rolar horizontalmente se houver muitas categorias */
  white-space: nowrap;
}

.category-link {
  text-decoration: none;
  color: #070707;
  font-size: 20px;
  padding: 5px 10px;
  transition: background-color 0.2s, color 0.2s;
}

.category-link:hover {
  background-color: #caf4ca;
  color: #000;
}

.copyright {
  text-align: center;
  padding: 10px;
  background: #f1f1f1; /* cor de fundo clara */
  font-size: 14px;
}

.copyright .icon {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin: 0 5px;
}

.copyright a {
  color: #000;
  text-decoration: none;
  margin: 0 8px;
}

.copyright a:hover {
  text-decoration: underline;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.old-price {
  text-decoration: line-through;
  color: #888;
  margin-right: 8px;
}

.new-price {
  color: green;
  font-weight: bold;
}
